# Java compiled classes
*.class

# Package Files #
*.jar
*.war
*.ear

# Maven build
target/
dependency-reduced-pom.xml
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# virtual machine crash logs
hs_err_pid*

# IntelliJ IDEA
*.iml
.idea
.gradle

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Log
*.log

# temp files
*.tmp
*.bak
*.swp

# AWS credentials - Security
.aws/
.credentials
*.pem
*.key
*.crt
.env
